#app
    font-family Roboto !important
    margin 10 10

#scheduled,
#content,
#chores
    height 100%

#scheduled
    h3 
        margin-left 10px
        color lightblue
    .event-scheduled
        background #007FFF !important
        color white

    .event-queued
        background #FC0 !important
        color white
    .event
        background transparent !important

#content
    margin: 0 20

.heading
    margin-bottom 100

.maininput
    width 340px;
    text-align center;
    margin 0 auto;

#addchorebut
    margin: 0 25%;

#doneaddchore,
#discardaddchore
    margin 10px 5px
 

#chores
    .chore
        background #F4A460
    a.titlelink,
    .chore 
        color white
.fa-pulse     
    padding: 50%;

.glyphicon-ok {
    float:right;
}
