#app {
  font-family: Roboto !important;
  margin: 10 10;
}
#scheduled,
#content,
#chores {
  height: 100%;
}
#scheduled h3 {
  margin-left: 10px;
  color: #add8e6;
}
#scheduled .event-scheduled {
  background: #007fff !important;
  color: #fff;
}
#scheduled .event-queued {
  background: #fc0 !important;
  color: #fff;
}
#scheduled .event {
  background: transparent !important;
}
#content {
  margin: 0 20;
}
.heading {
  margin-bottom: 100;
}
.maininput {
  width: 340px;
  text-align: center;
  margin: 0 auto;
}
#addchorebut {
  margin: 0 25%;
}
#doneaddchore,
#discardaddchore {
  margin: 10px 5px;
}
#chores .chore {
  background: #f4a460;
}
#chores a.titlelink,
#chores .chore {
  color: #fff;
}
.fa-pulse {
  padding: 50%;
}
.glyphicon-ok {
  float: right;
}
